//Font Color

$tealcolor: rgb(70, 235, 172);
$backgroundtealcolor: rgb(27, 231, 153);
$roadmapcolor: rgba(23, 59, 45, 0.383);
$accordioncolor: rgba(3, 91, 57, 0.867);
$lghttealcolor: rgb(76, 212, 160);
$highlightcolor: rgb(50, 236, 195);
$gray: rgb(174, 174, 174);

// Linear Gradient

$rainbowgradient: linear-gradient(
  90deg,
  #4cd964,
  #5ac8fa,
  #007aff,
  #34aadc,
  #5856d6,
  #ff2d55
);
