//Font Color

$tealcolor: rgb(70, 235, 172);
$backgroundtealcolor: rgb(27, 231, 153);
$lghttealcolor: rgb(76, 212, 160);
$gray: rgb(157, 155, 155);

// Linear Gradient

$rainbowgradient: linear-gradient(
  90deg,
  #4cd964,
  #5ac8fa,
  #007aff,
  #34aadc,
  #5856d6,
  #ff2d55
);
