/* 
--toastify-color-progress-light: linear-gradient(90deg,#4cd964,#5ac8fa,#007aff,#34aadc,#5856d6,#ff2d55);

rgb(70, 235, 172)
*/

@font-face {
  font-family: "Poppins";
  src: url("./Fonts/Poppins/Poppins-Regular.ttf");
}

html {
  background-color: black;
  margin: 0;
  padding: 0;
}

body {
  color: white;
  font-family: Poppins;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body::-webkit-scrollbar{
  display: none;
}

a {
  text-decoration: none;
  color: white;
}
